<mat-card class="login">
    <form [formGroup]="formGroupRegistro" autocomplete="off" (submit)="registrar()" class="formLogin">
<mat-form-field>
  <input matInput placeholder="Nombre" formControlName="nombre" maxlength="500">
  <mat-error *ngIf="formGroupRegistro.get('nombre').hasError('required')">
    Campo requerido</mat-error>
</mat-form-field>
<br>
<mat-form-field>
  <input matInput placeholder="Apellido" formControlName="apellido" maxlength="500">
  <mat-error *ngIf="formGroupRegistro.get('apellido').hasError('required')">
    Campo requerido</mat-error>
</mat-form-field>
<br>
<mat-form-field>
  <input matInput placeholder="Usuario (digite un correo)" formControlName="usuario" maxlength="500">
  <mat-error *ngIf="formGroupRegistro.get('usuario').hasError('required')">
    Campo requerido</mat-error>
    <mat-error *ngIf="formGroupRegistro.get('usuario').hasError('email')">
        Correo electronico invalido</mat-error>
</mat-form-field>
<br>
<mat-form-field>
  <input type="password" matInput placeholder="Password" formControlName="password" maxlength="500">
  <mat-error *ngIf="formGroupRegistro.get('password').hasError('required')">
    Campo requerido</mat-error>
</mat-form-field>
<br>
<br>
<button type="submit"  mat-raised-button color="primary">Registrar</button>
</form>
</mat-card>