<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>PQR Uninorte</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a *ngIf="appComponent.autenticado" mat-button [routerLink]="['nueva']">Nueva PQR</a>
        <a *ngIf="appComponent.autenticado" mat-button [routerLink]="['consulta']">Consulta tus PQRs</a>
        <a *ngIf="!appComponent.autenticado" mat-button [routerLink]="['']">Iniciar sesión</a>
        <a *ngIf="!appComponent.autenticado" mat-button [routerLink]="['registro']">Registro</a>
        <a *ngIf="appComponent.autenticado" mat-button>Cerrar sesión</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>